<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Week under control!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
            <link href="{{ asset('fontawesome/css/fontawesome.css') }}" rel="stylesheet" />
            <link href="{{ asset('fontawesome/css/brands.css') }}" rel="stylesheet" />
            <link href="{{ asset('fontawesome/css/solid.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="layout {% if app.user is null %}no-sidebar{% endif %}">

    {% for label, messages in app.flashes %}
        {% for text in messages %}
            <div class="alert alert-{{ label }}">
                <p>{{ text }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    <header class="header">
        {% include 'nav.html.twig' %}
    </header>
    {% if app.user is not null %}
     <div class="sidebar" data-controller="search">
        {% include 'sidebar.html.twig' %}
        {% include 'modal/search.html.twig' %}
    </div>
    {% endif %}
    <main class="main_content">
    {% block main_content %}
        {% if not app.user %}
            <h1>Welcome to Week under control!</h1>
            <div class="content content-flex">
            <div class="intro content-flex-item">
                <p>Week under control is a simple tool to help you organize your week.</p>
                <p>It is a place where you can create tasks, organize them in lists and keep track of your progress.</p>
                <p>You can use it for personal tasks or for work tasks.</p>
                <p>It is up to you how you use it.</p>
                <p>Just remember to keep your week under control!</p>
            </div>
            <div class="user_actions content-flex-item">
                {% block user_actions %}{% endblock %}
            </div>
            </div>
        {% endif %}
    {% endblock %}
    </main>
    <footer class="footer">
        {% include 'footer.html.twig' %}
    </footer>
    </div>
    </body>
</html>
