<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 flil=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body> 
    {% block header %}
    <header>

    {% if is_granted('ROLE_USER') == false %}
    <button><a class="login-button" href="{{ path('app_login') }}">Login</a></button>
    <button><a class="register-button" href="{{ path('app_register') }}">Register</a></button>
    {% else %}
    <button><a class="logout-button" href="{{ path('app_logout') }}">Logout</a></button>
    {% endif %} 
        
<a href="{{ path('app_home') }}" class="icon">
    <img src="{{asset('Images/kucharkaikona.png')}}" alt="Logo" width="100" height="100">
</a>

        <title>
        base
        </title>

        <h1>
            Kuchařka
        </h1>       
        
        <nav>
            <a href="{{path('app_home')}}"> Domov</a>
            <a href="{{path('app_recepty')}}"> Recepty</a>
            <a href="#"> Fotogalerie</a>
            <a href="#"> Kontakty</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('app_vytvoreni_receptu')}}"> Vytvoreni receptu</a>
            {% endif %}
        </nav>
        
    </header>
{% endblock %}
{% block body %}{% endblock %}
    {% block Footer %}
    <Footer>
                        <h2><strong>Kontakty<strong></h2>
                            <ul>
                                <li>
                                    <adress>Praha 1 </adress><br>
                                </li>
                                <li>
                                    Emali: <a href="mailto :pepazdepa@seznam.cz">pepazdepa@seznam.cz</a> <br>
                                </li>
                                <li>
                                    Tel: <a href="Tel :+420 111 111 111 111 111">+420 111 111 111 111 111</a> <br>
                                </li>
                            </ul>
                        </footer>
        {% endblock %}
    </body>
</html>
