<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Week under control!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
            <link href="{{ asset('fontawesome/css/fontawesome.css') }}" rel="stylesheet" />
            <link href="{{ asset('fontawesome/css/brands.css') }}" rel="stylesheet" />
            <link href="{{ asset('fontawesome/css/solid.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
    <div class="layout">

    {% for label, messages in app.flashes %}
        {% for text in messages %}
            <div class="alert alert-{{ label }}">
                <p>{{ text }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    <header class="header">
        {% include 'nav.html.twig' %}
    </header>
    <div class="sidebar">
            {% include 'sidebar.html.twig' %}
    </div>
    <main class="main_content">
    {% block main_content %}{% endblock %}
    </main>
    <footer class="footer">
        {% include 'footer.html.twig' %}
    </footer>
        <div class="modal">
        {% block modal %}{% endblock %}
    </div>
    </div>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    </body>
</html>
