{% extends 'base.html.twig' %}

{% block title %}Hra - No Bad Choices{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hra - No Bad Choices</title>
</head>
<body>
    <header>
        <h1>{{ 'No Bad Choices'|upper }}</h1>
    </header>

    <main>
        <section class="game-text">
            <p>{{ text }}</p>
        </section>

        <section class="choices">
            <form method="post" action="{{ path('game') }}">
                {% for option in options %}
                    <button type="submit" name="position" value="{{ option.position }}">
                        {{ option.text }}
                    </button>
                    <br />
                {% endfor %}
            </form>
        </section>

        {% set currentDate = "now"|date("d.m.Y H:i") %}
        <p>Dnešní datum: {{ currentDate }}</p>
    </main>
</body>
</html>
{% endblock %}
