{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}No Bad Choices - Úvod{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <h1>No Bad Choices</h1>
    </header>

    <main>
        <section class="menu">
            <button onclick="startNewGame()">Nová hra</button>
            <button onclick="continueGame()">Pokračovat</button>
        </section>

        <section class="login">
        {% if app.user is null %}
            <button class="login-button" onclick="window.location.href='{{ path('app_login') }}'">Přihlásit se</button>
            {% else %}
            <button class="login-button" onclick="window.location.href='{{ path('app_logout') }}'">Odhlásit se</button>
            {% endif %}
        </section>

        <script>
function startNewGame() {
    // Tady můžeš provést nějakou logiku
    window.location.href = '{{ path('game') }}';
}
</script>

    </main>

    <footer>
        <p>&copy; 2024 No Bad Choices. Všechna práva vyhrazena.</p>
        <p>
            <a href="{{ path('privacy') }}">Ochrana osobních údajů</a> | 
            <a href="{{ path('terms') }}">Podmínky použití</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}">Admin</a>
            {% endif %}
        </p>
    </footer>
{% endblock %}
