<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_home') }}">All teams {% if app.current_route == 'app_home'  %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {#% for team in teams %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_team', {'teamName': team.canonical}) }}">
              {{ team.name }}
              {% if app.current_route == 'app_team' and app.current_route_parameters.teamName == team.canonical %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
        {% endfor %#}
      </ul>
      <div class="d-flex">
        <div>
          <a href="{{ path('app_team_create') }}" class="btn btn-primary">Create Team</a>
          {% if app.user is null %}
            <a href="{{ path('app_login') }}" class="btn btn-secondary">Login</a>
          {% else %}
            <a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a>
          {% endif %}
          {% if app.user is not null and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}" class="btn btn-delete">Admin</a>
          {% endif %}
        </div>
      </div>

      <form class="form-inline my-2 my-lg-0" action="{{ path('app_home') }}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm" value="{{ searchTerm ?? '' }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
