{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<section>
  <h1>{{ artist.name }}</h1>
  <p><strong>Genres:</strong>
    {% for genre in artist.genres %}
      {{ genre }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  <p><strong>Count of tracks:</strong> {{ artist.tracks|length }}</p>

  <h2>Tracks</h2>
  <a href="{{ path('app_track_add', { 'artist_id': artist.id }) }}">Add a track</a>
  <ul>
    {% for track in artist.tracks %}
      <li>{{ track.title }} ({{ track.duration|format_datetime(pattern='mm:ss') }}) {% if track.sellable %}<a href="#">Buy</a>{% endif %}</li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
