{% extends 'base.html.twig' %}

{% block title %}Registrace{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <div class="regisration-form-container">
    <h3>Registrace</h3>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Heslo'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {  
            label: 'Potvrzení smluvních podmínek'   
        }) }}
        <button type="submit" class="btn">Registrovat</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
{% block Footer %} {% endblock %}
