{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block main_content %}
<h1>Account</h1>
<div class="content">
<div class="mb-3">
    <p>You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a></p>
</div>
    <h2>Change password</h2>

    {# {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Change</button>
    {{ form_end(registrationForm) }} #}
</div>
{% endblock %}
