{% macro teamTable(teams, offset) %}
  <table class="table">
    <tr>
      <th>#</th>
      <th>Logo</th>
      <th>Team</th>
      <th>Established</th>
      <th>No. of Players</th>
      <th>Best player</th>
      <th>Worst player</th>
      <th>All Players</th>
      <th>Numbers</th>
      <th>Actions</th>
    </tr>
    {% for team in teams %}
      <tr>
        <td>{{ loop.index + offset }}</td>
        <td>
          {% if team.logoPath is not null %}
            <img src="{{ asset('images/logos/' ~ team.logoPath) }}" alt="{{ team.name }}" width="50">
          {% endif %}
        </td>
        <td><a href="{{ path('app_team', {'teamName': team.canonical}) }}">{{ team.name }}</a></td>
        <td>{{ team.established|date('j. n. Y') }}</td>
        <td>{{ team.players|length }}</td>
        <td>
          {% if team.players|length > 0 %}
            {{ team.players|first.firstName|first }}. {{ team.players|first.lastName }}
          {% endif %}
        </td>
        <td>
          {% if team.players|length > 0 %}
            {{ team.players|reverse|first.firstName|first }}. {{ team.players|reverse|first.lastName }}</td>
          {% endif %}
        <td>
          {# both of the below is equivalent #}
          {% for player in team.players %}
            {{ player.firstName }} {{ player.lastName }}{% if loop.revindex0 != 0 %},{% endif %}
          {% endfor %}<br>
          {#{ team.players|map(player => "#{player.firstName} #{player.lastName}")|join(', ') }#}
        </td>
        <td>{{ 513625.128|number_format(2, ',', ' ') }}</td>
        <td>
          <a href="{{ path('app_team', {'teamName': team.canonical}) }}">View</a>
          {% if app.user is not null %}
            <a href="{{ path('app_team_edit', {'teamName': team.canonical}) }}">Edit</a>
            <a href="{{ path('app_team_delete', {'teamName': team.canonical}) }}">Delete</a>
          {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endmacro %}
