{% extends 'base.html.twig' %}

{% block title %}Domov{% endblock %}

{% block body %}

<h3> DoporuÄujeme</h3>

<div class="grid-container">
    <div class="grid-item"><img src="{{ asset('Images/palacinky.jpg') }}" alt="#"></div>
    <div class="grid-item"><img src="{{ asset('Images/livance.jpg') }}" alt="#"></div>
    <div class="grid-item"><img src="{{ asset('Images/michanevajicka.jpg') }}" alt="#"></div>
    <div class="grid-item"><img src="{{ asset('Images/temp.jpg') }}" alt="#"></div>
    <div class="grid-item"><img src="{{ asset('Images/temp.jpg') }}" alt="#"></div>
    <div class="grid-item"><img src="{{ asset('Images/temp.jpg') }}" alt="#"></div>
</div>
{% endblock %}
