    <section id="Portfolio">
      <div class="Portfolio-menu">
        <div class ="inner-circle">
          <h3>Portfolio</h3>
        </div>
        <div class="outer-circle">
          {% for portfolioItem in portfolioItems %}
            <div class="menu2">
              <p>
                <a href="#Item-{{ loop.index }}">{{ portfolioItem.title }}</a>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="portfolio-menu2">
          <button>Portfolio</button>
        <div class="itemsx">
          {% for portfolioItem in portfolioItems %}
            <div class="Itemx">
              <p>
                <a href="#Item-{{ loop.index }}">{{ portfolioItem.title }}</a>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="portfolio-viewport">
        <div class="portfolio-container">
          {% for portfolioItem in portfolioItems|reverse %}
            <div class="portfolio-item">
              <div>
                <h3>{{ portfolioItem.title }}</h3>
                <div class="karta">
                  <div class="Packing_box">
                  {% if portfolioItem.FirstImage is not null %}
                    <img src="{{ asset(portfolioItem.FirstImage[0]) }}"
                    alt="Packing_box">
                  {% endif %}
                  </div>
                  <div class="Packing_text">
                    <p>{{portfolioItem.text}}</p>
                  </div>
                  <div class="Packing_box2">
                  {% if portfolioItem.SecondImage is not null %}
                    <img src="{{ asset(portfolioItem.SecondImage[0]) }}"
                    alt="Packing_box2">
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
